* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #35404f;
}
.thin {
  font-weight: 300;
}
.text-xs {
  font-size: 12px;
}
.text-xl {
  font-size: 36px;
}
.text-l {
  font-size: 24px;
}
.text-md {
  font-size: 16px;
}
.text-weak {
  color: #878c94;
}


.small-marging {
  margin-top: 10px;
}


.table > tbody > tr > td {
  border-top: none;
  padding-top: 10px;
}

.table>tbody>tr>td.centered-text {
  text-align: center;
  vertical-align: middle;
}
.flight-medium-section {
  width: 25%;
}
.flight-small-section {
  width: 15%;
}
.flight-xsmall-section {
  width: 10%;
}

.table thead tr th {
  color: #35404f;
  line-height: 1.42857143;
  vertical-align: middle;
}
.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

.img-thumbnail.small {
  height: 60px;
  width: 60px;
}
.no-border-no-bg {
  background-color: transparent;
  border: none;
}

.light-backgorund {
  background-color: #f7f7f7;
}

.accent {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  width: 100px;
  padding: 7px 0;
  font-family: 'Dosis', sans-serif;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
}

.loading-bg {
  text-align: center;
  font-size: 36px;
  margin-top: 100px;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}


/* BUTTONS */

.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success:focus {
  color: #ffffff;
  background-color: #4ace4a;
  border: 1px solid #4ace4a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.btn.btn-success {
  color: #ffffff;
  background-color: #5ed35e;
  border: 1px solid #5ed35e;
}

.btn.round {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}