!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Cheap Flights
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous", :rel => "stylesheet"}/
    %link{:href => "https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/
    %link{:href => "stylesheet/application.css", :rel => "stylesheet"}/

  %body.light-backgorund
    .container
      .row
        #flight-search-section.col-md-4
          %h2 Find the cheapest flight
          %form#flight-search-form.form-horizontal
            .form-group
              %label.col-sm-2.control-label{:for => "from"} From
              .col-sm-10
                %input#from.form-control{:placeholder => "City Name", :type => "text", :autocomplete => "off"}/
                %ul.dropdown-menu{data: {toggle: "dropdown"}}
            .form-group
              %label.col-sm-2.control-label{:for => "to"} To
              .col-sm-10
                %input#to.form-control{:placeholder => "City Name", :type => "text", :autocomplete => "off"}/
                %ul.dropdown-menu{data: {toggle: "dropdown"}}
            .form-group
              %label.col-sm-2.control-label{:for => "date"} When
              .col-sm-10
                %input#date.form-control.datepicker-powered{:placeholder => "YYYY-MM-DD", :autocomplete => "off"}/
            .form-group
              .col-sm-offset-2.col-sm-10
                %button.btn.btn-primary{:type => "submit"} Search!
        .col-md-8
          %h2 Results
          %p
            %small All times are local
          #search-result-section

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    %script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :crossorigin => "anonymous" }
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"}
    %script{:src => "https://momentjs.com/downloads/moment.min.js"}
    %script{:src => "https://momentjs.com/downloads/moment-timezone.min.js"}
    %script{:src => "http://underscorejs.org/underscore-min.js"}
    %script{:src => "javascript/application.js"}

    / js-templates
    %script{:id => "date-tabs-template", :type =>"text/x-handlebars-template"}= render :html, :'templates/date-tabs'
    %script{:id => "flight-list-template", :type =>"text/x-handlebars-template"}= render :html, :'templates/flight-list'
    %script{:id => "loading-template", :type =>"text/x-handlebars-template"}= render :html, :'templates/loading'
    %script{:id => "error-template", :type =>"text/x-handlebars-template"}= render :html, :'templates/error'