<div>
  <ul class="nav nav-tabs" role="tablist">
    {{#each result}}
      {{#if active}}
        <li role="presentation" class="active">
          <a role="tab" data-toggle="tab" data-date={{day}}>
            {{day}}
            {{#if lowest}}
              <p class="text-xs">from ${{lowest}}</p>
            {{/if}}
          </a>
        </li>
      {{else}}
        <li role="presentation">
          <a role="tab" data-toggle="tab" data-date={{day}}>
            {{day}}
            {{#if lowest}}
              <p class="text-xs">from ${{lowest}}</p>
            {{/if}}
          </a>
        </li>
      {{/if}}
    {{/each}}
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
    {{#each result}}
      {{#if active}}
        {{> flightList this }}
      {{/if}}
    {{/each}}
    </div>
  </div>
</div>


<script>
  $('[data-toggle="tooltip"]').tooltip();
  $('[data-toggle="tab"]').click(function(event) {
    event.preventDefault();
    $('#date').val($(this).data('date'));
    $('#flight-search-form button').click();
  });
</script>