<table class="table">
  <tbody>
    {{#each flights}}
      <tr>
        <td span="1" class="flight-small-section">
          <div class="accent">
            <h3 class="thin small-marging" data-toggle="tooltip" data-placement="top" title="{{start.airportName}}">
              {{start.airportCode}}
            </h3>
            <p class="text xs">
              at {{ extractAndFormatTime start.dateTime }}
            </p>
          </div>
        </td>
        <td class="centered-text flight-medium-section">
          <span class="glyphicon text-md glyphicon-plane gly-rotate-90 text-muted" data-toggle="tooltip" data-placement="top" title="{{plane.fullName}}"></span>
          <span class="text-weak text-md">{{flightNum}} </span>
          <img src="http://pics.avs.io/200/200/{{airline.code}}.png" class="img-thumbnail small no-border-no-bg">
          <br>
          <span class="text-xs text-weak">{{durationInHoursMins durationMin}}</span>
        </td>
        <td  class="flight-small-section">
          <div class="accent">
            <h3 class="thin small-marging" data-toggle="tooltip" data-placement="top" title="{{finish.airportName}}">
              {{finish.airportCode}}
            </h3>
            <p class="text xs">
              at {{ extractAndFormatTime finish.dateTime }}
            </p>
          </div>
        </td>
        <td>
          <a href="javascript:void(0);" class="btn btn-success round text-md">
            <span class="text-xs">Buy it for:</span>
            <br>
            $ {{cutFractions price}}
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>